:root {
    --clr-white: #ffffff;
    --clr-black: #121212;
    --clr-gray: #C9C9C9;
    --clr-shadow: rgb(65, 59, 124, 0.8);

}



body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,
            #8176f8 70%, #9d94fa);
    background-size: 100% 400%;
    animation: animFondo 10s ease infinite;

}

@keyframes animLineal {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

.contenedor {
    margin: auto;
    width: 80vh;
    text-align: center;

}


h1 {
    margin: 0;
    color: white;
    

}

.titulo {
    margin: 0;

}

.tit1 {

    padding: 0;
    font-weight: 200;
    font-size: 3.3rem;
    color:var(--clr-white);
}

.tit2 {
    padding: 0;
    font-size: 3.3rem;
    color:var(--clr-white);
}

.Caja_generadora{
    margin:20px 0 50px 0;

}
h4 {
    margin: 0;
    padding: 20px 0 20px 0;
    font-size: 1.5rem;
    color:var(--clr-black);

}

.dom1 {
    margin: 0px
}

.dom2 {
    margin: 20px 0 0 0;
}


.domain {
    margin: 0;
    border-radius: 200px;
    color: var(--clr-black);
    padding: 20px 20px;
    background-color: #d5d1fd;
    font-size: 1.7rem;
    height: auto;
   
}


.hackDomain {
    margin: 0;
    border-radius: 200px;
    color: var(--clr-black);
    padding: 20px 20px;
    background-color: #d5d1fd;
    font-size: 1.7rem;
    height: auto;
   
}

button {
    background: linear-gradient(45deg,
            #8176f8, #9d94fa);
    padding: 20px 30px;
    border: 0px;
    border-radius: 100px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--clr-white);
    box-shadow: 0px 20px 60px var(--clr-shadow);
}

button:hover {
    transform: scale(1.05);
}

button:active {
    opacity: 0.9;
}